body{
    background-image: url("https://brandemia.org/contenido/subidas/2023/01/historia-de-coca-cola-1200x670.png");
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor{
    background-color: white;
    padding: 60px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;   
    align-items: center;      
}


input{
    width: 90%;
    padding: 30px 40px;
    font-size: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

button{
    background-color:rgb(244, 121, 76);
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    border: black;
    display: block;
    margin: auto;
}

button:hover {
    background-color: rgb(220, 90, 50);
}
